ul {
  list-style: none;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.category {
  display: flex;
  align-items: center;
  transition: background-color ease-in .3s;

  &>*:not(:last-child) {
    margin-right: 8px;
  }
}

.category.active {
  background-color: rgb(101, 101, 221);
}
