<main class="container px-6">
  <section class="my-10">
    <h1>e-Store</h1>
    <p class="text-2xl font-semibold italic w-fit mx-auto my-10">
      <span>e-Store: Your trusted online shop where quality meets value.</span>
    </p>
  </section>

  <section class="my-16 reverse-section" aria-label="Who We Are">
    <h2 class="md:hidden">Who We Are</h2>
    <a
      href="https://www.pexels.com/es-es/foto/pareja-alegre-haciendo-compras-online-en-casa-3756345/"
      target="_blank"
      title="Photo of Andrea Piacquadio"
      aria-label="Photo of Andrea Piacquadio"
    >
      <picture>
        <img src="/images/WhoWeAre.avif" alt="warehouse" />
      </picture>
    </a>
    <div>
      <h2 class="hidden md:block">Who We Are</h2>
      <p>
        At e-Store, we believe online shopping should be
        <b>easy, fast, and secure</b>. That’s why we’ve created a place where
        you can find a wide variety of products – from technology and
        accessories to home goods and personal care.
      </p>

      <p>
        Our goal is to provide you with <b>top-quality</b> items at affordable
        prices, backed by friendly and reliable customer service.
      </p>
    </div>
  </section>

  <section class="my-16 section" aria-label="Our Story">
    <h2 class="md:hidden">Our Story</h2>
    <a
      href="https://www.pexels.com/es-es/foto/hombre-tecnologia-efecto-desenfocado-en-pie-4484078/"
      target="_blank"
      title="Photo of Tiger Lily"
      aria-label="Photo of Tiger Lily"
    >
      <picture>
        <img src="/images/OurStory.avif" alt="warehouse" />
      </picture>
    </a>
    <div>
      <h2 class="hidden md:block">Our Story</h2>
      <p>
        Founded in 2024, e-Store began as a small university project fueled by a
        passion for e-commerce and technology.
      </p>
      <p>
        What started as a tiny catalog has grown into a store with
        <b>hundreds</b> of products and a growing community of happy customers
        who trust us.
      </p>
    </div>
  </section>

  <div class="">
    <section class="my-10" aria-label="What Makes Us Different">
      <h2>What Makes Us Different</h2>
      <ul>
        <li><b>Variety</b>: Products for every taste and need.</li>
        <li>
          <b>Quality</b>: Every item is carefully selected to meet high
          standards.
        </li>
        <li><b>Security</b>: Safe payment methods and guaranteed delivery.</li>
        <li>
          <b>Personalized Support</b>: We want every shopping experience to be a
          great one.
        </li>
      </ul>
    </section>

    <section class="my-10" aria-label="Our Commitment">
      <h2>Our Commitment</h2>
      <p>At e-Store, we work every day to:</p>
      <ul>
        <li>Keep our prices competitive.</li>
        <li>Improve the shopping experience.</li>
        <li>Provide fast and effective support.</li>
        <li>Promote eco-friendly shipping practices.</li>
      </ul>
    </section>
  </div>
</main>
