<form [formGroup]="form" (submit)="submitForm()">
  <components-ui-input
    id="name"
    name="name"
    label="Name"
    placeHolder="Bike"
    formControlName="name"
    [error]="matchError('name')"
  />

  <components-ui-input
    id="price"
    name="price"
    label="Price"
    placeHolder="1000"
    formControlName="price"
    [error]="matchError('price')"
  />

  <components-ui-input
    id="description"
    name="description"
    label="Description"
    placeHolder="Description"
    formControlName="description"
    [error]="matchError('description')"
  />

  <button type="submit">Crear</button>
</form>
