<div>
  <h4>Filter by price</h4>

  <form class="filters">
    <input
      type="number"
      placeholder="Min"
      [value]="minPrice()"
      (input)="changeMinPrice($event)"
      pattern="^[0-9]"
      required
    />
    <input
      type="number"
      placeholder="Max"
      [value]="maxPrice()"
      (input)="changeMaxPrice($event)"
      pattern="^[0-9]"
      required
    />
    <button aria-label="filter-by-price" (click)="filterByPrice($event)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          d="m7 2l10 10L7 22"
        />
      </svg>
    </button>
  </form>
</div>
