<main>
  <div class="container mx-auto px-6 py-4">
    <h1>Form Control</h1>
  </div>

  <section class="container mx-auto px-6 py-4">
    <form (submit)="submit()">
      <div class="relative">
        <label>
          Nombre:
          <input
            type="text"
            placeholder="Nombre"
            [formControl]="nameField"
            required="on"
          />

          <button type="submit">Enviar</button>
        </label>
        <span>{{ nameFieldsErrors }}</span>
      </div>

      <div class="relative">
        <label
          >Categoría
          <select [formControl]="categoryField">
            <option value="" disabled selected>--Seleccione--</option>
            <option value="1">Opción 1</option>
            <option value="2">Opción 2</option>
            <option value="3">Opción 3</option>
            <option value="4">Opción 4</option>
          </select>

          <span>{{ categoryField.value }}</span>
        </label>

        <div>
          <p>¿Está vivo?</p>
          <label>
            Si
            <input
              type="radio"
              [formControl]="isAliveField"
              name="isAlive"
              value="si"
            />
          </label>

          <label>
            No
            <input
              type="radio"
              [formControl]="isAliveField"
              name="isAlive"
              value="no"
            />
          </label>
        </div>

        <label>
          <input type="checkbox" [formControl]="agreeField" />
          Acepto los términos y condiciones
        </label>
      </div>
    </form>
  </section>
</main>
